
.title {
     width: 100%;
     text-align: right;
     font-size: 3rem;
     color: #fff;
     text-shadow: 2px 2px #a0a0a0;
     margin-bottom: 50px;
     padding-left: 3%;
     padding-right: 3%;  
   }