.wrapper {
    background-color: #092257;
    background-image: url('https://img00.deviantart.net/f228/i/2012/081/1/6/dale_gribble__aka_rusty_shackleford_by_whiteboardguy-d4tkwq0.jpg');
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }